{
  "htmlWhitespaceSensitivity": "ignore",
  "useTabs": false,
  "endOfLine": "auto",
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "embeddedLanguageFormatting": "off",
  "insertPragma": false,
  "printWidth": 80
}
